@import "normalize.css";
*,
*::after,
*::before {
  font-family: "Cabin", sans-serif;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.button {
  background: none;
  border: none;
}

.svg {
  overflow: hidden;
}

:root {
  --color-text: #10162f;
  --color-primary: #3a10e5;
  --color-background: #fff0e5;
}
